.header {
    align-items: center;
    background: #0a0a0a;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: start;
    row-gap: 30px;
    padding: 30px 0;
    position: fixed;
    width: 140px;
}

.logo {
    filter: drop-shadow( 0px 0px 20px #993333);
    background-position: center;
    background-size: cover;
    height: 70px;
    opacity: 1;
    transition: 1s all;
    transform: translateX(-1px);
    width: 70px;
}

.logo:hover {
    transform: scale(1.1);

}

.menu {
    display: flex;
    flex-direction: column;
    gap: 15px;
    list-style: none;
    text-align: center;
}

.menu--link {
    color: white;
    font-family: 'DM Sans';
    font-weight: 100;
    font-size: 1rem;
    letter-spacing: 2px;
    transition: .3s all;
}

.menu--link:hover {
    letter-spacing: 1px;
}


/* reponsivo */

@media screen and (max-width: 767px) {
    .header{
        height: 15vh;
        width: 100vw;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 0px 30px;
        flex-wrap: wrap;
    }

    .menu{
        flex-direction: row;
    }

    .logo{
        width: 40px;
        height: 40px;
    }

    .menu--link{
        font-size: .8rem;
    }
}

@media screen and (max-width: 300px) {
    .header{
        justify-content: center;
        align-items: center;
        row-gap: 0;
    }
}